services:
  postgres:
    container_name: postgres
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - ./db-data/postgres:/var/lib/postgresql/data/
  
  pgadmin:
    container_name: pgadmin
    image: elestio/pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    depends_on:
      - postgres

  redis:
    container_name: redis
    image: redis
    restart: always
    ports:
      - "6379:6379"

  redis-insight:
    container_name: redis-insight
    image: redislabs/redisinsight:latest
    restart: always
    ports:
      - "5540:5540"
    depends_on:
      - redis

  url-service:
    container_name: url-service
    image: url:dev
    restart: always
    stdin_open: true
    tty: true
    ports:
      - "3000:80"
    env_file:
      - ./backend/url-service/config/app.env
    depends_on:
      - postgres
      - redis
    command: ["./main"]